// COLORS
$color-purple: #9A63F5; $color-purple-shade-2: #7b4fc4; $color-purple-shade-3: #6c45ac;
$color-orange: #F69851; $color-orange-shade-2: #c57a41; $color-orange-shade-3: #ac6a39; $color-orange-shade-4: #945b31;
$color-green: #69CC7A; $color-green-shade-2: #54a362; $color-green-shade-3: #4a8f55; $color-green-shade-4: #3f7a49;
$color-red: #EE7271; $color-red-shade-2: #be5b5a; $color-red-shade-3: #a7504f;
$color-blue: #4DA7ED; $color-blue-shade-2: #3e86be; $color-blue-shade-3: #3675a6;
$color-pink: #EB66C8; $color-pink-shade-2: #bc52a0; $color-pink-shade-3: #a5478c;


$color-background-primary: #101010;
$color-background-secondary: #212121;
$color-background-tertiary: #181818;
$color-background-four: #262626;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #B3B3B3;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// RESPONSIVENESS
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-medium-sm: 50em;   // 800px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px