.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: url(https://framerusercontent.com/images/kPHXJofkfvSV1uk2qrte8KNHQ8.png);
    filter: brightness(40%);
    pointer-events: none;
    user-select: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
  }

  &__main-box {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 2.4rem;
    border-radius: 2.4rem;
    backdrop-filter: blur(10px);
    margin-bottom: 9rem;

    border: 1px solid rgba($color-white, 0.1);

    @media only screen  and (max-width: $bp-medium-sm) {
      padding: 1.8rem;
    }

    @include cardBackShadow;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;

    &-highlight {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      padding: 1rem;
      background-color: $color-purple;
      border-radius: 1.2rem;

      @media only screen  and (max-width: $bp-medium-sm) {
        padding: 0.8rem;
      }

      img {
        width: 4rem;
      }

      &--first {
        background-color: $color-purple-shade-2;
      }

      &--second {
        background-color: $color-orange-shade-2;
      }

      &--third {
        background-color: $color-green-shade-2;
      }
    }
  }
}
