.info {
  grid-template-columns: 2fr 3fr;
  
  @media only screen  and (max-width: $bp-large) {
    grid-template-columns: 1fr 1fr;
    padding: 2.4rem;
  }

  @media only screen  and (max-width: $bp-small) {
    grid-template-columns: 1fr;
  }

  @media only screen  and (max-width: $bp-smallest) {
    padding-top: 0;
  }

  &__item {
    &--first {
      position: sticky;
      top: 2.4rem;

      @media only screen  and (max-width: $bp-small) {
        position: relative;
        margin-bottom: 2.4rem;
      }
    }
    &-title-box {
      margin-top: 1.6rem;
      display: flex;
      align-items: center;

      img {
        width: 2.4rem;
        margin-left: 0.8rem;

        @media only screen  and (max-width: $bp-small) {
          width: 3.6rem;
        }
      }
    }
    &-author {
      border-radius: 0.8rem;
      width: 100%;
    }
  
    &-experience {
      h4 {
        margin-top: 0.8rem;
      }
    }

    .paragraph {
      margin-top: 1rem;
    }

    &-skills {
      ul {
        list-style: none;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 4rem 4rem 4rem 4rem;
        justify-items: start;
        align-items: start;

        li {
          padding: 0.8rem 1.2rem;
          border-radius: 0.8rem;
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08),
            0px 1px 4px 0px rgba(0, 0, 0, 0.08);
          position: relative;

          img {
            position: absolute;
            top: -1.2rem;
            left: -1.2rem;
          }
        }
      }

      &--orange {
        justify-self: center;
        animation: moveDioganalTopLeft 8s ease-in-out 0s infinite alternate backwards;
        background-color: $color-orange-shade-4;
      }
      &--purple {
        animation: moveDioganalTopRight 8s ease-in-out 3s infinite alternate backwards;
        background-color: $color-purple-shade-3;
      }
      &--red {
        animation: moveDioganalTopLeft 8s ease-in-out 6s infinite alternate backwards;
        background-color: $color-red-shade-3;
      }
      &--blue {
        justify-self: center;
        grid-row: 2/ 1 span;
        grid-column: 1/ 2 span;
        animation: moveDioganalTopRight 8s ease-in-out 5s infinite alternate-reverse   backwards;
        background-color: $color-blue-shade-3;
      }
      &--green {
        animation: moveDioganalTopRight 8s ease-in-out 4s infinite alternate backwards;
        background-color: $color-green-shade-4;
      }
      &--pink {
        justify-self: center;
        grid-column: 1/ 2 span;
        animation: moveDioganalTopRight 8s ease-in-out 2s infinite alternate backwards;
        background-color: $color-pink-shade-3;
      }
    }

    &-sayhi {
      ul {
        list-style: none;
        gap: 0.8rem;

        .invitation-link,
        .invitation-link {
          &:link,
          &:visited {
            color: $color-white;
            padding: 1.4rem 0;
            display: flex;
            gap: 0.8rem;
            justify-content: center;
            border-radius: 0.8rem;
            border: 1px solid rgba($color-white, 0.1);
            background-color: $color-background-four;
            transition: 0.1s all ease-out;
          }

          &--first {
            &:hover, &:active {
              background-color: $color-green-shade-2
            }
          }

          &--second {
            &:hover, &:active {
              background-color: $color-blue-shade-2;
            }
          }

          &--third {
            &:hover, &:active {
              background-color: $color-pink-shade-2;
            }
          }

          &--forth {
            &:hover, &:active {
              background-color: $color-orange-shade-2
            }
          }
        }

        img {
          width: 1.6rem;
        }
      }
    }
  }
}

.projects {
  @media only screen  and (max-width: $bp-large) {
    padding: 2.4rem;
  }

  @media only screen  and (max-width: $bp-medium-sm) {
    grid-template-columns: 1fr;
  }

  &__item {
    &:link, &:visited {
      transition: 0.2s transform ease-out;
      height: 100%;
    }
    &:hover, &:active {
      transform: rotate(-1deg);
    }
    h3 {
      margin-top: 1.6rem;
    }
    .paragraph {
      margin-top: 1rem;
    }

    img {
      border-radius: 0.8rem;
      width: 100%;
      height: 41rem;
      object-fit: cover;
    }
  }
}

.setup {
  gap: 6.4rem;
  padding: 12.4rem;
  padding-top: 9.6rem;

  @media only screen  and (max-width: $bp-medium-sm) {
    padding: 8.4rem;
    gap: 4.8rem;
  }

  @media only screen  and (max-width: $bp-smallest) {
    padding: 3.2rem;
    padding-bottom: 12.4rem;
  }

  &__image {
    img {
      width: 100%;
      border-radius: 0.8rem;
    }
  }

  &__title {
    .paragraph {
      margin-top: 1.8rem;
    }
  }

  &__pieces {
    gap: 4.8rem;

    &-item {
      ul {
        margin-top: 2.4rem;
        margin-left: 3.8rem;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        @media only screen  and (max-width: $bp-small) {
          margin-left: 2.4rem;
        }
      }
    }
  }
}

.articles, .books, .readings {
  padding: 12.4rem;
  padding-top: 9.6rem;

  @media only screen  and (max-width: $bp-medium-sm) {
    padding: 8.4rem;
  }

  @media only screen  and (max-width: $bp-smallest) {
    padding: 3.2rem;
    padding-bottom: 12.4rem;
  }

  &__main-title {
    width: fit-content;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  ul {
    list-style: none;
    @media only screen  and (max-width: $bp-medium-sm) {
      gap: 1.2rem;
    }
  }

  &__item {
    &:link, &:visited {  
      padding: 2.8rem;
      border-radius: 1.6rem;
      transition: all 0.2s ease-out;
      margin-left: -2.8rem;

      @media only screen  and (max-width: $bp-smallest) {
        margin-left: 0;
        justify-self: center;
      }
      
      span {
        color: $color-orange;
      }
  
      h3 {
        transition: all 0.2s ease-out;
      }
  
      p:not([class^="paragraph"]) {
        display: flex;
        align-items: center;
        gap: 0.8rem;
  
        img {
          width: 1.8rem;
        }
      }
  
      time {
        color: $color-grey-dark;
      }

      @media only screen  and (max-width: $bp-medium-sm) {
        border: 1px solid rgba($color-white, 0.1);
        padding: 1.8rem 2.8rem;
      }

      @media only screen  and (max-width: $bp-smallest) {
        padding: 1.8rem;
      }
    }

    &:hover, &:active {
      background-color: rgba($color-white, 0.1);
      h3 {
        color: $color-grey-dark;
      }
    }

  }
}

.articles {
  &__main-title {
    background-image: linear-gradient(to right, $color-orange, $color-red);
  }

  &__item {
    &:link, &:visited {
      gap: 0.8rem;
      
      .paragraph {
        margin-top: 0.4rem;
        max-width: 80%;

        @media only screen  and (max-width: $bp-small) {
          max-width: 100%
        }
      }
      
      h3 {
        max-width: 70%;

        @media only screen  and (max-width: $bp-small) {
          max-width: 100%
        }
      }
    }
  }
}

.books {
  &__main-title {
    background-image: linear-gradient(to right, $color-green, $color-blue);
  }
}

.readings {
  &__main-title {
    background-image: linear-gradient(to right, $color-pink, $color-purple);
  }
}

.books, .readings {  
  &__item {

    &:link, &:visited {
      width: 100%;
      grid-template-columns: 1fr 9fr;

      @media only screen  and (max-width: $bp-smallest) {
        grid-template-columns: 1fr 5fr;
      }
      gap: 1.6rem;

      div:first-child {
        .paragraph {
          white-space: nowrap;
        }
      }

      div:last-child {
        gap: 1.2rem;
        overflow: hidden;
  
        .paragraph, h3 {
          overflow: hidden;
        }
      }
  
      .highlights {
        margin-top: 0;
        
        .highlight {
          transition: all 0.2s ease-out;
        }
      }
    }

    &:hover, &:active {
      .highlight {
        background-color: rgba($color-white, 0.4);
        color: $color-background-four;
      }
    }

    
  }
}

