.card-box {
  border-radius: 3.2rem;
  border: 1px solid rgba($color-white, 0.1);
  padding: 2.4rem;
  background-color: $color-background-tertiary;
}

.container {
  max-width: 114rem;
  margin-right: auto;
  margin-left: auto;
}