.highlights {
  list-style: none;
  display: flex;
  gap: 0.8rem;
  margin-top: 2.4rem;
}

.highlight {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem 1.2rem;
  border: 1px solid rgba($color-white, 0.1);
  border-radius: 0.8rem;
  background-color: $color-background-four;
  color: $color-grey-dark;
}