body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: $color-white;
  background-color: $color-background-primary;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -0.4px;
}

h2,
h3 {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: -0.2px;

  @media only screen  and (max-width: $bp-small) {
    font-size: 2.8rem;
  }
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;

  @media only screen  and (max-width: $bp-small) {
    font-size: 1.8rem;
  }
}

.paragraph {
  color: $color-grey-dark;
  font-size: 1.6rem;
  line-height: 2.4rem;

  @media only screen  and (max-width: $bp-small) {
    font-size: 1.8rem;
    line-height: 3rem;
  }
}

.header {
  &__content {
    font-size: 3.2rem;
    font-weight: 600;
    letter-spacing: -0.4px;
    
    @media only screen  and (max-width: $bp-smallest) {
      font-size: 2.8rem;
    }

    &-highlight--third {
      text-decoration: none;
      color: $color-white;
    }
  }
}

.navigation {
  &__item:link,
  &__item:visited {
    &::before {
      font-size: 1.4rem;
      letter-spacing: -0.4px;
      font-weight: 500;
      white-space: nowrap;
      color: rgba($color-white, 0.6);
    }
  }
}

.main {
  .info {
    &__item {
      &-title {
        font-size: 2.2rem;
        font-weight: 600;
        letter-spacing: -0.2px;

        @media only screen  and (max-width: $bp-small) {
          font-size: 3.2rem;
        }
      }
      &-skills {
        ul {
          font-size: 1.3rem;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 0.4px;
        }
      }
      &-sayhi {
        a:link,
        a:visited {
          font-size: 1.5rem;
          font-weight: 600;
          text-decoration: none;

          @media only screen  and (max-width: $bp-small) {
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  .projects {
    &__item {
      &:link,
      &:visited {
        text-decoration: none;
        color: $color-white;
      }
    }
  }

  .setup {
    &__title {
      h2 {
        font-size: 4.6rem;
        color: $color-green;
        font-weight: 700;
      }
    }

    &__pieces {
      &-item {
        font-size: 1.6rem;

        @media only screen  and (max-width: $bp-small) {
          font-size: 1.8rem;
          line-height: 2.4rem;
        }        

        ul {
          a:link,
          a:visited {
            text-decoration: none;
            color: $color-orange;
          }

          a:active,
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .articles,
  .books,
  .readings
  {
    &__main-title {
      font-size: 4.8rem;
      font-weight: 700;
      letter-spacing: -1.6px;
    }

    &__item {
      &:link,
      &:visited {
        text-decoration: none;
        color: inherit;

        h3 {
          line-height: 2.6rem;
        }

        p:not([class^="paragraph"]) {
          font-size: 1.5rem;
          font-weight: 600;
        }

        time {
          font-size: 1.4rem;
          font-weight: 400;
        }
      }

      &:hover,
      &:active {
        span {
          text-decoration: underline;
        }
      }
    }
  }

  .articles {
    &__item {
      &:link,
      &:visited {
        h3 {
          font-size: 1.8rem;
        }
      }
    }
  }

  .books, .readings {
    &__item {
      &:link,
      &:visited {
        div:first-child {
          .paragraph {
            font-size: 1.8rem;
            @media only screen  and (max-width: $bp-small) {
              font-size: 1.6rem;
            }
          }
        }
        div:last-child {
          h3 {
            text-overflow: ellipsis;
            white-space: nowrap;

            @media only screen  and (max-width: $bp-small) {
              font-size: 2.4rem;
            }
          }

          .paragraph {
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.highlight {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4px;

  @media only screen  and (max-width: $bp-small) {
    font-size: 1.4rem;
  }
}

.link-btn:link,
.link-btn:visited {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;

  @media only screen  and (max-width: $bp-small) {
    font-size: 1.6rem;
  }
}
