.u-center-text {text-align: center;}

.u-margin-bottom-huge {margin-bottom: 12rem;}
.u-margin-bottom-big {margin-bottom: 10rem;}
.u-margin-bottom-medium {margin-bottom: 4rem;}
.u-margin-bottom-small {margin-bottom: 2.4rem;}

.u-margin-top-small {margin-top: 2.4rem}
.u-margin-top-huge {margin-top: 10rem;}
.u-margin-top-big {margin-top: 8rem;}

.u-grid {display: grid;}
.u-grid-col-2 {grid-template-columns: 1fr 1fr;}
.u-grid-col-3 {grid-template-columns: 1fr 1fr 1fr;}
.u-grid-row-2 {grid-template-rows: 1fr 1fr;}
.u-grid-row-3 {grid-template-rows: 1fr 1fr 1fr;}
.u-align-self-start {align-self: start;}
.u-justify-self-start {justify-self: start;}
.u-grid-gap {gap: 2.4rem;}

.u-flex {display: flex;}
.u-flex-direction-col {flex-direction: column;}
